.container {
  background-color: red;
  width: 800px;
  height: 600px;
  border-color: solid 2px black;
}

header {
  text-align: center;
}

/*#pizzaPic {
  padding-left: 300px;
  padding-top: 20px;
}*/

#yourCost {
  text-align: center;
}
